@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 40 20% 97%;
    --foreground: 0 0% 10%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 10%;

    --primary: 0 0% 10%;
    --primary-foreground: 40 25% 92%;

    --secondary: 30 8% 60%;
    --secondary-foreground: 0 0% 10%;

    --muted: 40 15% 88%;
    --muted-foreground: 0 0% 40%;

    --accent: 40 25% 92%;
    --accent-foreground: 0 0% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 40 25% 92%;

    --border: 30 8% 80%;
    --input: 30 8% 80%;
    --ring: 0 0% 10%;

    --radius: 0.5rem;

    --sidebar-header: 0 0% 10%;
    --sidebar-background: 0 0% 15%;
    --sidebar-foreground: 40 20% 90%;
    --sidebar-primary: 40 25% 92%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 40 25% 92%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 40 25% 92%;
  }

  .dark {
    --background: 0 0% 10%;
    --foreground: 40 25% 92%;

    --card: 0 0% 15%;
    --card-foreground: 40 25% 92%;

    --popover: 0 0% 15%;
    --popover-foreground: 40 25% 92%;

    --primary: 40 25% 92%;
    --primary-foreground: 0 0% 10%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 40 25% 92%;

    --muted: 0 0% 20%;
    --muted-foreground: 30 8% 60%;

    --accent: 0 0% 20%;
    --accent-foreground: 40 25% 92%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 40 25% 92%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 40 25% 92%;
    
    --sidebar-header: 0 0% 5%;
    --sidebar-background: 0 0% 10%;
    --sidebar-foreground: 40 25% 92%;
    --sidebar-primary: 40 25% 92%;
    --sidebar-primary-foreground: 0 0% 10%;
    --sidebar-accent: 0 0% 20%;
    --sidebar-accent-foreground: 40 25% 92%;
    --sidebar-border: 0 0% 25%;
    --sidebar-ring: 40 25% 92%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
